.hinhchunhat{
    display: flex;
    background:rgb(255, 138, 138);
    margin: 0 auto;
    width: 150px;
    height: 20px;
    padding: 10px;
    border: rgba(245, 245, 245,0.5) solid 4px;
    flex-direction: row;
}
.text {
    font-size: 20px;
    color:rgba(7, 7, 7,0.6);
}
.vongtron{
    content: "";
    background:rgb(255, 138, 138);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 70px;
    border: white solid 4px;
    position: relative;
}
.vongtron::before{
    content: ''; 
    width: 10px; 
    height: 5px; 
    background-color: white ;
    z-index: 999;
    position: absolute;
    top : 98% ;
    left: 85%;
    transform: rotate(45deg); 
}



